@import "../variables";

.main {
    outline: none;
    padding: .15rem;
}

.showcase {
    display: flex;
    height: 2.5rem;
}

.showcase > * {
    flex: 1 1 0;
}

.row {
    display: flex;
}

.cell {
    width: 1.5rem;
    height: 1.5rem;
    margin: .15rem;
    border: 1px solid $color-grey;
    border-radius: .1rem;
    cursor: pointer;
}

.focus {
    border-color: $color-focus;
    box-shadow: 0 0 .2rem .2rem $color-focus;
}
