@import "../variables";

$active-width: .2rem;

.main {
    width: 2em;
    height: 2em;

    stroke: $color-black;
}

.forward {
    background-color: $color-white;
}

.backward {
    background-color: $color-grey;
}

.main:hover, .focus {
    box-shadow: 0 0 $active-width $active-width $color-focus;
    z-index: 1;
}
