@import "../variables";

.main {
    font-size: 1.1em;
    width: 1em;
    height: 1em;
    box-sizing: content-box;

    border: .1rem solid transparent;

    color: $color-black;
    padding: .3rem;
    border-radius: .3rem;
    margin: .2rem;

    background-color: transparent;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
}

.main:not(:disabled) {
    &:hover, &:focus {
        outline: none;
        border-color: $color-black;
    }
}

.active {
    border-color: $color-grey;
}

.main:disabled {
    cursor: not-allowed;
    color: $color-grey;
}
