$color-black: #000000;
$color-white: #ffffff;
$color-grey: #888888;
$color-threading-border: #333333;

$color-remove: red;
$color-add: green;

$color-active: #498ebf;
$color-focus: fade-out($color-active, .35);
